* {
	font-family: sans-serif;
}
body {
	background-color: #54af62;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 30px;

	background-color: #ffffff;
	border-style: solid;
	border-width: medium;
}
h1 {
	font-size: 30px;
}
a {
	text-decoration: none;
	color: green;
}
p {

}
